.chatInput {
    width: 100%;
    flex: 1;
    display: flex;
    max-height: 30px;
}

.chatInput input {
    flex: 2;
    width: 100%;
    padding: 3px 6px;
    line-height: 1em;
    outline: none;
    height: 30px;
}

.chatInput button {
}